body {
  font-size: 14px;
}

/* navigation header */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  width: 60%;
  margin: 0 auto;
}

/* the header will be a different font family than the rest of the div elements */
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* this applies to the text on the navigation header an other div element blocks */
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* this div element is orange */
.color {
  background-color: orange;
}
